<h1>Adicionar usuário</h1>
<form action="/users/create" method="post" class="form">
  <div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Digite o nome do usuário" />
  </div>
  <div class="form-control">
    <label for="profissao">Profissão:</label>
    <input type="text" name="profissao" placeholder="Digite a profissão" />
  </div>
  <div class="form-control">
    <label for="email">E-mail:</label>
    <input type="text" name="email" placeholder="Digite a profissão" />
  </div>
  <div class="form-control">
    <label for="imagem">Foto:</label>
    <input type="text" name="imagem" placeholder="Coloque o link da sua foto" />
  </div>
  <div class="form-control">
    <input type="submit" value="Cadastrar" />
  </div>
</form>